<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Jane Doe</title>
    <script src="js/app.js" defer></script>
    <!-- <script src="index.js" defer></script> -->
  </head>
  <!-- <nav class="navbar navbar-light p-2" style="background-color: #3b82f6">
    <span class="navbar-brand"
      ><img src="https://i.imgur.com/Qx8uR89.png" alt="GloboLogo" style="margin-left: 24px"
    /></span>
    <span class="form-inline my-2 my-lg-0"
      ><input
        id="userNameInput"
        style="margin-right: 24px"
        type="text"
        placeholder="Ingresá tu usuario"
    /></span>
  </nav> -->
  <body>
    <div id="app">
      <nav-bar @username-changed="handleUsernameChange"></nav-bar>  
      <div class="container text-center" id="profileCard">
        <div class="row mb-3">
        <div class="col-xl-3 col-lg-3 col-md-6 col-12 d-flex align-items-center justify-content-center">
            <img
            src="https://i.imgur.com/99qgQJy.jpeg"
            alt="janePhoto"
            id="userPicture"
            height="200"
            />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-12" id="userInfo">
            <h1>Jane Doe</h1>
            <p><strong>Email:</strong> janedoe@gmail.com </p>
            <p><strong>Fecha de nacimiento:</strong> 01/05/1996</p>
            <p><strong>Teléfono:</strong> 918-936-9585</p>
            <p><strong>Ciudad:</strong> Tokyo, Japón</p>
            <p>Trabajando en <strong>Lawn N</strong></p>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-3 col-12 d-flex align-items-end justify-content-end flex-column" id="followButtonCol">
            <strong v-if="followError" class="errorText">No puedes seguir sin ingresar tu nombre de usuario</strong>
            <button @click="follow" id="followButton">{{ followed ? "Dejar de seguir" : "Seguir" }}</button>
        </div>
        </div>
    </div>
      <div class="container text-center" id="feedCards">
        <div class="row">
          <div class="col-lg-8 col-sm-12" id="commentsCard">
            <p class="dateText">Publicado hace 1 semana</p>
            <img
              src="https://i.imgur.com/bq9db41.jpeg"
              alt="tokyoPhoto"
              id="postPhoto"
              height="500"
            />
            <div id="likes">
              <button @click="like" id="likeButton">{{liked ? "Ya no me gusta" : "Me gusta"}}</button>
              <strong v-if="likeError" class="errorText" id="likeErrorText">No puedes dar "me gusta" sin ingresar tu nombre de usuario</strong>
              <p><strong id="likeCount">{{ likeCount }}</strong> Likes</p>
            </div>
            <h5>Comentarios</h5>
            <div v-for="comment in comments" :key="comment.userName" id="comentarios">
              <strong>{{ comment.userName }}</strong>
              <p>{{ comment.content }}</p>
            </div>
            <div>
              <strong v-if="commentError" class="errorText" id="commentsErrorText">{{ emptyComment ? "El comentario no puede estar vacío": "No puedes comentar sin ingresar tu nombre de usuario"}}</strong>
            </div>
            <div id="commentsInputSection">
              <input
                v-model="commentInput"
                type="text"
                id="DejaTucomentario"
                placeholder="Deja tu comentario..."
              />
              <button @click="comment" class="ButtonComentar" id="commentButton">Comentar</button>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <about-me></about-me>
        </div>
      </div>
    </body>
    </div>
</html>
