#nav{
    background-color: #3b82f6;
    padding-top: 0px;
    border-radius: 50;
}
.globoLogo{
    padding-left: 24px;
}
.profileHeader{
    border-radius: 12px;
    background-color: red;
}
#seachUserInput{
    
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-color: #3b82f6;
    background-color: #dbeafe;
    color: black;
}
::placeholder{
    color: #3b82f6;
}
.col-3{
    display: flex;
    justify-content: center;
    align-items: center;
}